<form [formGroup]="weekReservationForm" id="weekReservationForm" name="weekReservationForm">
    <mat-card>
        <mat-card-content>

            <mat-form-field class="form-element">
                <select [compareWith]="compareFn" matNativeControl required placeholder="Groep"
                        formControlName="group">
                    <option *ngFor="let group of groups" [ngValue]="group">
                        {{group.name}}
                    </option>
                </select>
            </mat-form-field>

            <mat-form-field class="form-element" appearance="fill">
                <mat-label>Kies Periode</mat-label>
                <mat-date-range-input
                    [rangePicker]="reservationDateRangePicker">
                    <input matStartDate placeholder="Start date" formControlName="fromDate">
                    <input matEndDate placeholder="End date" formControlName="toDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="reservationDateRangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #reservationDateRangePicker></mat-date-range-picker>
            </mat-form-field>


            <mat-card-actions>
                <button mat-raised-button color="accent" [disabled]="!weekReservationForm.valid"
                        (click)="showReservations()">Reservaties tonen
                </button>

                <button mat-raised-button color="accent">Reservaties downloaden</button>


            </mat-card-actions>

        </mat-card-content>
    </mat-card>
</form>

<br>

<ng-container *ngFor="let weekplanning of weekPlannings">
    <mat-card class="example-card">

        <mat-card-header>
            <div mat-card-avatar class="week-reservations-header-image"></div>
            <mat-card-title>planning voor group {{weekplanning.group.name}}</mat-card-title>
            <mat-card-subtitle>vanaf {{weekplanning.week.startWeekDay}} tot {{weekplanning.week.endWeekDay}},weekjaar {{weekplanning.week.weekOfYear}},weekmaand {{weekplanning.week.weekOfMonth}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <br>
            <ul>
                <h5>Reservaties</h5>
                <li *ngFor="let reservation of weekplanning.reservationList;let i = index;">
                    <span>{{reservation.day}}/{{reservation.month}}/{{reservation.year}} {{reservation.courtTimeSlot.timeSlot.from}} tot {{reservation.courtTimeSlot.timeSlot.to}} </span>
                    <span *ngFor="let member of reservation.reservationMembers;">{{member.firstName}} {{member.name}} {{","}}</span>

                </li>
            </ul>

            <ul>
                <h5>Reserves</h5>
                <li *ngFor="let reserve of weekplanning.reserveList">{{reserve.firstName}} {{reserve.name}}</li>
            </ul>
        </mat-card-content>
    </mat-card>
    <br>
</ng-container>
