<!--mat-toolbar color="accent">
    <span class="fill-remaining-space">Leden</span>
</mat-toolbar-->


<form [formGroup]="memberForm" id="memberForm" name="memberForm">
    <mat-card>
        <mat-card-content>
            <mat-form-field class="form-element">
                <input matInput type="text" required placeholder="Naam" maxlength="45" formControlName="name" name="name" id="name">
                <mat-error *ngIf="!memberForm.controls['name'].valid && memberForm.controls['name'].touched">De naam
                    moet verplicht ingevuld worden
                </mat-error>
            </mat-form-field>


            <mat-form-field class="form-element">
                <input matInput type="text" required placeholder="Voornaam" maxlength="45" formControlName="firstName" name="firstName"
                       id="firstName">
                <mat-error *ngIf="!memberForm.controls['firstName'].valid && memberForm.controls['firstName'].touched">
                    De voornaam moet verplicht ingevuld worden
                </mat-error>
            </mat-form-field>


            <p>
                <mat-form-field class="form-element">
                    <input matInput type="email" placeholder="Email" maxlength="45" formControlName="email" name="email"
                           id="email">
                    <mat-error *ngIf="!memberForm.controls['email'].valid && memberForm.controls['email'].touched">Een
                        correct email moet ingevuld worden
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field class="form-element">
                    <input matInput type="text" placeholder="Gsm/Tel" maxlength="45" formControlName="gsm" name="gsm" id="gsm">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field class="form-element">
                    <select matNativeControl required [compareWith]="compareFn" placeholder="Niveau" formControlName="vtvLevel">
                        <option *ngFor="let vtvLevel of vtvLevels" [ngValue]="vtvLevel">
                            {{ vtvLevel.name }}
                        </option>
                    </select>
                </mat-form-field>
                <mat-error *ngIf="!memberForm.controls['vtvLevel'].valid && memberForm.controls['vtvLevel'].touched">Vtv
                    niveau moet ingevuld worden
                </mat-error>
            </p>

            <p>
                <mat-form-field class="form-element">
                    <select matNativeControl required placeholder="Geslacht" formControlName="gender">
                        <option *ngFor="let gender of genders" [ngValue]="gender">
                            {{ gender }}
                        </option>
                    </select>
                </mat-form-field>
                <mat-error *ngIf="!memberForm.controls['gender'].valid && memberForm.controls['gender'].touched">
                    Geslacht moet ingevuld worden
                </mat-error>
            </p>

            <table class="table table-striped table-hover" formArrayName="groupAvailabilityList">
                <thead>
                <tr>
                    <th>Groep</th>
                    <th>Percentage</th>
                    <th><span style="margin-right:10px;"><fa-icon [icon]='["fas", "copy"]'
                                                                  (click)="duplicateGroupAvailability()"></fa-icon></span>
                    </th>
                </tr>
                </thead>
                <tbody>


                <tr *ngFor="let groupAvailability of groupAvailabilityList.controls; let groupAvailabilityIndex = index"
                    [formGroupName]="groupAvailabilityIndex">

                    <td>

                        <!--select class="form-control" [compareWith]="compareFn" formControlName="group" name="group" style="height: 26px;font-size: 10px;">
                            <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
                        </select-->
                        <mat-form-field class="form-element">
                            <select [compareWith]="compareFn" matNativeControl required placeholder="Groep"
                                    formControlName="group">
                                <option *ngFor="let group of groups" [ngValue]="group">
                                    {{group.name}}
                                </option>
                            </select>
                        </mat-form-field>
                    </td>


                    <td>
                        <mat-form-field class="form-element">
                            <select [compareWith]="compareFn" matNativeControl required placeholder="Beschikbaarheid"
                                    formControlName="availability">
                                <option *ngFor="let availability of availabilities" [ngValue]="availability">
                                    {{availability.label}}
                                </option>
                            </select>
                        </mat-form-field>
                    </td>


                    <td>
                        <span style="margin-right:10px;"><fa-icon [icon]='["fas", "trash-alt"]'
                                                                  (click)="removeGroupAvailability(groupAvailabilityIndex)"></fa-icon></span>
                    </td>


                </tr>
                </tbody>
            </table>


            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!memberForm.valid" (click)="onSubmit()">Lid opslaan</button>

                <button mat-raised-button color="primary" (click)="addMember()">Lid toevoegen</button>

                <button mat-raised-button color="primary" (click)="removeMember()">Lid verwijderen</button>


            </mat-card-actions>

        </mat-card-content>
    </mat-card>
</form>

