<nav class="app-sidenav accordion" id="sidenavAccordion" [ngClass]="sidenavStyle">
    <div class="app-sidenav-menu">

        <div class="nav">
            <ng-container *ngFor="let section of sideNavSections">
                <div class="app-sidenav-menu-heading" *ngIf="section.text" i18n>{section.text, select, CORE {CORE} ADMIN {ADMIN} RESERVATIES {RESERVATIES} STATISTIEKEN {STATISTIEKEN}}</div>
                <ng-container *ngFor="let item of section.items"><padel-side-nav-item [sideNavItem]="sideNavItems[item]"></padel-side-nav-item></ng-container></ng-container>
        </div>
    </div>

    <div class="app-sidenav-footer">
        <div class="small">Logged in as Frederik:</div>
        <span *ngIf="userService.user$ | async as user">{{user.firstName}} {{user.lastName}}</span>
    </div>
</nav>
