<ag-grid-angular style="height: 800px;width:100%"
                 class="ag-theme-material"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 [deltaRowDataMode]="true"
                 [gridOptions]="gridOptions"
                 (selectionChanged)="onRowSelectionChanged($event)"
                 (cellEditingStarted)="onCellEditingStarted($event)"
                 (rowDoubleClicked)="onRowDoubleClick($event)"
                 (rowEditingStarted)="onRowEditingStarted($event)"
                 (rowEditingStopped)="onRowEditingStopped($event)"
                 (rowValueChanged)="onRowValueChanged($event)"
                 (cellValueChanged)="onCellValueChanged($event)"
                 (cellEditingStopped)="onCellEditingStopped($event)"
                 (selectionChanged)="onSelectionChanged($event)"
                 [getRowNodeId]="getRowNodeId"
                 [stopEditingWhenGridLosesFocus]="true"
                 (gridReady)="onGridReady($event)">
</ag-grid-angular>
