<form [formGroup]="groupForm" id="groupForm" name="groupForm">
    <mat-card>
        <mat-card-content>

            <mat-form-field class="form-element">
                <input matInput type="text" required placeholder="Groepsnaam" maxlength="45" formControlName="name" name="name"
                       id="name">
                <mat-error *ngIf="!groupForm.controls['name'].valid && groupForm.controls['name'].touched">
                    De Groepsnaam moet verplicht ingevuld worden
                </mat-error>
            </mat-form-field>


            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!groupForm.valid" (click)="onSubmit()">Groep opslaan</button>

                <button mat-raised-button color="primary" (click)="addGroup()">Groep toevoegen</button>

                <button mat-raised-button color="primary" (click)="removeGroup()">Groep verwijderen</button>


            </mat-card-actions>

        </mat-card-content>
    </mat-card>
</form>


