body {
    overflow-x: hidden;
}

ul.nav li {
    display: inline-block;
    float: none;
}

.toolbar-navbar-nav {
    text-align: center;
}

.toolbar-navbar-default {
    background-color: white;
    border-color: white;
}

.navbar-default .toolbar-navbar-nav > .active > a, .navbar-default .toolbar-navbar-nav > .active > a:focus, .navbar-default .toolbar-navbar-nav > .active > a:hover {
    background-color: rgb(217, 83, 79);
}

.line-through {
    text-decoration: line-through;
}

.cursor-pointer{
    cursor: pointer;
}

.cursor-hand{
    cursor: hand;
}

.loading {
    overflow: hidden;
}

.loading .loader {
    display: block;
}

.loader {
    display: none;
    position: fixed;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    top: 40%;
    left: 40%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.agridbold {
    font-weight: bold;
    font-size: 9px;
}

.app-ag-grid-cell {

}

.app-ag-grid-header-cell {
    justify-content: center;
    text-transform: uppercase;
}

.app-ag-grid-cell-bold {

    font-weight: bold;
}

.app-ag-grid-cell-required {
    font-weight: bold;
}


