<form [formGroup]="planningRequestForm" id="planningRequestForm" name="planningRequestForm">
    <mat-card>
        <mat-card-content>

            <p>

                <mat-form-field class="form-element" appearance="fill">
                    <mat-label>Kies Periode</mat-label>
                    <mat-date-range-input
                        [rangePicker]="reservationDateRangePicker">
                        <input matStartDate placeholder="Start date" (change)="generateWeeks()" formControlName="fromDate">
                        <!--input matInput [matDatepicker]="picker" placeholder="Input & change events"
                               (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"-->

                        <input matEndDate placeholder="End date" (change)="generateWeeks()" formControlName="toDate">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="reservationDateRangePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #reservationDateRangePicker></mat-date-range-picker>
                </mat-form-field>

            <!--mat-form-field class="form-element" appearance="fill">

                    <mat-label>Kies een start datum</mat-label>
                    <input matInput required formControlName="fromDate" [matDatepicker]="fromDatePicker">
                    <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromDatePicker></mat-datepicker>


                <mat-error *ngIf="!planningRequestForm.controls['fromDate'].valid && planningRequestForm.controls['fromDate'].touched">
                    Startdatum moet ingevuld worden
                </mat-error>
            </mat-form-field-->
            </p>

            <!--p>
            <mat-form-field class="form-element" appearance="fill">

                <mat-label>Kies een eind datum</mat-label>
                <input matInput required formControlName="toDate" [matDatepicker]="toDatePicker">
                <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #toDatePicker></mat-datepicker>


                <mat-error *ngIf="!planningRequestForm.controls['toDate'].valid && planningRequestForm.controls['toDate'].touched">
                    Einddatum moet ingevuld worden
                </mat-error>
            </mat-form-field>
            </p-->

            <p>
            <mat-form-field class="form-element">
                <select matNativeControl required [compareWith]="compareFn" placeholder="Groep" formControlName="group">
                    <option *ngFor="let group of groups;let i = index" [ngValue]="group" [selected]="i==0">
                        {{ group.name }}
                    </option>
                </select>
            </mat-form-field>
            </p>

            <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">

                <div fxFlex="0 1 calc(50% - 32px)" style="height: 200px">
                    <!--mat-list role="list">
                        <mat-list-item formControlName="week" role="listitem" *ngFor="let week of weeks; let i = index">
                            <mat-radio-button color="primary"  [value]="week">
                                {{"Week"}} {{week.weekOfYear}}  {{week.startWeekDay}} {{week.endWeekDay}}
                            </mat-radio-button>
                        </mat-list-item>
                    </mat-list-->
                    <mat-selection-list formControlName="week">
                        <mat-list-option *ngFor="let week of weeks; let i = index" [value]="week">
                            {{"Week"}} {{week.weekOfYear}}  {{week.startWeekDay}} {{week.endWeekDay}}
                        </mat-list-option>
                    </mat-selection-list>
                </div>




                <div fxFlex="0 1 calc(50% - 32px)" >
                    <mat-selection-list formControlName="courtTimeSlot">
                        <mat-list-option *ngFor="let courtTimeSlot of courtTimeSlots" [value]="courtTimeSlot">
                            {{courtTimeSlot.court.name}}  {{courtTimeSlot.timeSlot.dayOfWeek}} {{courtTimeSlot.timeSlot.from}} {{courtTimeSlot.timeSlot.to}}
                        </mat-list-option>
                    </mat-selection-list>


                </div>

            </div>

            <div class="form-element">
                <button mat-raised-button color="accent" (click)="addWeekCourtTimeSlot()" class="button">Voeg toe</button>
            </div>

            <table class="table table-striped table-hover" formArrayName="courtTimeSlotWeekList">
                <thead>
                <tr>
                    <th>Week</th>
                    <th>Beschikbare Timeslots</th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>


                <tr *ngFor="let courtTimeSlotWeek of courtTimeSlotWeekList.controls; let courtTimeSlotIndex = index"
                    [formGroupName]="courtTimeSlotIndex">


                    <td>
                        {{"WEEK"}}
                        {{courtTimeSlotWeek?.value?.week?.weekOfYear}}
                        {{courtTimeSlotWeek?.value?.week?.startWeekDay}}
                        {{courtTimeSlotWeek?.value?.week?.endWeekDay}}
                        <!--input type="text" size="50" readonly formControlName="week" value="{{courtTimeSlotWeek?.value.week}}"-->
                    </td>


                    <td>
                        {{courtTimeSlotWeek?.value?.courtTimeSlot?.court?.name}} {{courtTimeSlotWeek?.value?.courtTimeSlot?.timeSlot?.dayOfWeek}} {{courtTimeSlotWeek?.value?.courtTimeSlot?.timeSlot?.from}} {{courtTimeSlotWeek?.value?.courtTimeSlot?.timeSlot?.to}}



                        <!--input type="text" size="50" readonly formControlName="week" value="{{courtTimeSlotWeek?.value.courtTimeSlot.court.name}}"-->
                        <!--input type="text" size="50" readonly formControlName="courtTimeSlot" value="{{courtTimeSlotWeek?.value.courtTimeSlot.timeslot.id}}"-->

                        <!--select size="4" class="form-control" formControlName="courtTimeSlotList" name="courtTimeSlotList" >
                            <option *ngFor="let courtTimeSlot of courtTimeSlots" [ngValue]="courtTimeSlot">{{courtTimeSlot.court.name}} {{courtTimeSlot.timeSlot.dayOfWeek}} {{courtTimeSlot.timeSlot.from}}  {{courtTimeSlot.timeSlot.to}}</option>
                        </select-->
                    </td>


                    <td>
                        <span style="margin-right:10px;"><fa-icon [icon]='["fas", "trash-alt"]'
                                                                  (click)="removeWeekCourtTimeSlot(courtTimeSlotIndex)"></fa-icon></span>
                    </td>





                </tr>
                </tbody>
            </table>

            <mat-card-actions>
                <button mat-raised-button color="accent" [disabled]="!planningRequestForm.valid" (click)="onSubmit()">Genereer planning</button>
            </mat-card-actions>





            <p>{{planningRequestForm.value | json}}</p>

        </mat-card-content>
    </mat-card>
</form>





<!--mat-dialog-content>
    <div class="card bg-light">




        <div class="card-body">

            <form [formGroup]="planningRequestForm" id="planningRequestForm" name="planningRequestForm">
                <div class="form-row">

                    <div class="form-group col-md-6">

                        <div class="input-group">
                            <input class="form-control" placeholder="dd/mm/yyyy"
                                   name="fromDate" formControlName="fromDate" [minDate]="minPickerDate" [markDisabled]="isFromDateDisabled" (dateSelect)="onChangeFromDate($event)" ngbDatepicker #d1="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                            </div>
                        </div>

                        <label for="inputFromDate">Vanaf</label>
                        <input type="date" class="form-control" formControlName="fromDate" (change)="onChangeFromDate($event)" id="inputFromDate" placeholder="Vanaf">
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <input class="form-control" placeholder="dd/mm/yyyy"
                                   name="dp" formControlName="toDate" [markDisabled]="isToDateDisabled" (dateSelect)="onChangeToDate($event)" ngbDatepicker #d2="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <label for="selectGroup">Groep</label>
                    <select class="form-control" formControlName="group" id="selectGroup" (change)="onChangeGroup($event)" >
                        <option *ngFor="let group of groups;let i = index" [ngValue]="group" [selected]="i==0">{{group.name}}
                    </select>
                </div>

                <div class="form-group">

                    <label for="selectMembers">Leden</label>

                    <select size="5" multiple class="form-control" readonly="true" formControlName="members" id="selectMembers">
                        <option *ngFor="let member of groupMembers$ | async" [ngValue]="member">{{member.name}} {{member.firstName}}
                    </select>
                </div>


                <table class="table table-striped table-hover" formArrayName="courtTimeSlotWeekList">
                    <thead>
                    <tr>
                        <th>Week</th>
                        <th>Beschikbare Timeslots</th>
                        <th>toegewezen timeslot</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr *ngFor="let courtTimeSlotWeek of courtTimeSlotWeekList.controls; let courtTimeSlotIndex = index"
                        [formGroupName]="courtTimeSlotIndex">


                        <td>
                            <input type="text" size="50" readonly formControlName="week" value="{{courtTimeSlotWeek?.value.week.startWeekDay}} {{courtTimeSlotWeek?.value.week.endWeekDay}}">
                        </td>


                        <td>
                            <select size="4" class="form-control" formControlName="courtTimeSlotList" name="courtTimeSlotList" >
                                <option *ngFor="let courtTimeSlot of courtTimeSlots" [ngValue]="courtTimeSlot">{{courtTimeSlot.court.name}} {{courtTimeSlot.timeSlot.dayOfWeek}} {{courtTimeSlot.timeSlot.from}}  {{courtTimeSlot.timeSlot.to}}</option>
                            </select>
                        </td>


                        <td>
                            <table class="table table-striped table-hover" >
                                <tr>
                                    <td><input type="text" size="50" readonly value="1"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" size="50" readonly value="1"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" size="50" readonly value="1"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" size="50" readonly value="1"></td>
                                </tr>
                            </table>

                        </td>






                    </tr>
                    </tbody>
                </table>




                <p>{{planningRequestForm.value | json}}</p>


            </form>

        </div>
        <div class="card-footer">

            <div class="btn-toolbar">

                <div class="btn-group mr-2" role="group">
                    <button class="btn btn-primary btn-sm" (click)="onSubmit()">
                        save
                    </button>
                </div>


            </div>


        </div>


    </div>

</mat-dialog-content-->



