<form [formGroup]="courtReservationForm" id="courtReservationForm" name="courtReservationForm">

    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">

        <div fxFlex="0 1 calc(33.3% - 32px)">
            <button mat-button (click)="previousDayReservations()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>


        <div fxFlex="0 1 calc(33.3% - 32px)">

            <mat-form-field class="form-element" appearance="fill">

                <mat-label>Reservatie datum</mat-label>
                <input matInput required (dateChange)="currentDayReservations()" formControlName="reservationDay" [matDatepicker]="dayPicker">
                <mat-datepicker-toggle matSuffix [for]="dayPicker"></mat-datepicker-toggle>
                <mat-datepicker #dayPicker></mat-datepicker>

            </mat-form-field>

        </div>

        <div fxFlex="0 1 calc(33.3% - 32px)">
            <button mat-button (click)="nextDayReservations()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>

    </div>
</form>

<table class="table table-bordered table-sm">
    <thead>
    <tr>
        <th scope="col">Uur</th>
        <th scope="col" *ngFor="let court of courts">{{court.name}}</th>
    </tr>
    </thead>
    <tbody>
    <!--mat-row *matRowDef="
              let row;
              let even = even;
              columns: displayedColumns;"
             [ngClass]="{gray: even}"></mat-row-->

    <tr [ngClass]="{'table-active': even}" *ngFor="let timeSlot of dayTimeSlots;let i = index; let even = even;">

        <td class="rotate">
            <table class="table table-borderless">
                <tr>
                    <td>{{timeSlot.from}}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>{{timeSlot.to}}</td>
                </tr>
            </table>
        </td>
        <td *ngFor="let court of courts">
            <table class="table table-borderless ">
                <tr>
                    <td>{{courtTimeSlotReservationMember(court, timeSlot, 0)}}</td>

                </tr>
                <tr>
                    <td>{{courtTimeSlotReservationMember(court, timeSlot, 1)}}&nbsp;</td>
                </tr>
                <tr>
                    <td>{{courtTimeSlotReservationMember(court, timeSlot, 2)}}</td>
                </tr>
                <tr>
                    <td>&nbsp;{{courtTimeSlotReservationMember(court, timeSlot, 3)}}</td>
                </tr>
            </table>
        </td>
    </tr>

    </tbody>
</table>
