span([ngClass]='{"app-nav-fixed": !static}')
    app-top-nav
    #layoutSidenav
        #layoutSidenav_nav
            app-side-nav(
                [sidenavStyle]='sidenavStyle',
                [sideNavItems]='sideNavItems',
                [sideNavSections]='sideNavSections'
            )
        #layoutSidenav_content
            main
                .container-fluid
                    ng-content
            app-footer
